/* Global */
body {
    margin: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Navigation.jsx */
.navigation {
    min-width: 300px;

    display: flex;

    padding: 10px;

    background-color: #eeeeee;
}
.navigation__active-link {
    background-color: #ffffff;
}
.navigation a {
    margin-right: 15px;
    padding: 10px;
    
    text-decoration: none;
    text-align: center;
    color: inherit;

    transition: background-color .15s ease-in-out;
}
.navigation a:last-child {
    margin-right: 0;
}
.navigation a:hover {
    background-color: #ffffff;
}